.note-second-row {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.note {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.delete-button, .update-button {
    padding: 10px;
    margin: 3px;
    font-size: 14px;
}

button:hover {
    background: orange;
    cursor: pointer;
}